body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-list {
  display: table;
}
.tab-list-item {
  float: left;
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
}

.tab-list-item.active {
  font-weight: bold;
  border: black 1px solid;
}